<%- include ('../partials/header') %>

<title>Dashboard</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/dashboard.css" />


<h4>Patient Dashboard</h4>

<% if(currentUserStatus!=null){ %>
    <% var token = (currentUserStatus.token < 10)?'00'+currentUserStatus.token:((currentUserStatus.token < 100)?'0'+currentUserStatus.token:currentUserStatus.token) %>
    <p>Name : <%= currentUserStatus.name %></p>
    <p>Token No : <%= "T" + token %></p>
    <p>Registration Time : <%= currentUserStatus.registrationTime %></p>
    <p>Consultation Queue In Time : <%= currentUserStatus.consultationInTime %></p>
    <p>Consultation Queue Out Time : <%= currentUserStatus.consultationOutTime %></p>
    <p>Billing Queue Out Time : <%= currentUserStatus.billingInTime %></p>
    <p>Billing Queue Out Time : <%= currentUserStatus.billingOutTime %></p>
    <p>Medicine Queue Out Time : <%= currentUserStatus.medicineInTime %></p>
    <p>Medicine Queue Out Time : <%= currentUserStatus.medicineOutTime %></p>

    <!-- preet -->
    <br><br><br>
    <p>Total number of Patients ahead : <%=currentUserStatus.consultAhead + currentUserStatus.mediAhead + currentUserStatus.billAhead%></p>
    <p><strong>Total Estimated wait time :<% %> <%=Math.round((currentUserStatus.consultAvg + currentUserStatus.mediAvg + currentUserStatus.billAvg) * 100 / 60) / 100%> mins</strong></p>
    <p>Consultation patients ahead : <%=currentUserStatus.consultAhead %></p>
    <p>Billing patients ahead : <%=currentUserStatus.billAhead %></p>
    <p>Medicine patients ahead : <%=currentUserStatus.mediAhead %></p>

<% }else{ %>
    <p>Patient in not in hospital now</p>
<% } %>

<%- include ('../partials/footer') %>
