<%- include ('../partials/header') %>

<title>Profile</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/history.css" />


<h1 class="text-center mt-3">Patient History</h1>
<section id="history">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date Of Visit</th>
                <th scope="col">Token No</th>
                <th scope="col">Hospital In Time</th>
                <th scope="col">Hospital Out Time</th>
            </tr>
        </thead>
        <tbody>
            <% var count=0 %>
            <% foundHistory.forEach(function(history){ %>
                <% if(history.stage1.isInQueue==false){ %> 
                    <% count = count+1 %>
                    <% var token = (history.token < 10)?'00'+history.token:((history.token < 100)?'0'+history.token:history.token) %>
                    <tr>
                        <th scope="row"><%= count %></th>
                        <td><%= history.stage1.date.getDate() + "/" + (history.stage1.date.getMonth()+1) + "/" + history.stage1.date.getFullYear() %></td>
                        <td><%= "T" + token %></td>
                        <td><%= history.stage1.date.getHours() + ":" + history.stage1.date.getMinutes() + ":" + history.stage1.date.getSeconds() + ":" + history.stage1.date.getMilliseconds() %></td>
                        <% if(history.stage4.date!=undefined){ %>
                            <td><%= history.stage4.date.getHours() + ":" + history.stage4.date.getMinutes() + ":" + history.stage4.date.getSeconds() + ":" + history.stage4.date.getMilliseconds() %> stage4</td>
                        <% }else if(history.stage3.date!=undefined){ %>
                            <td><%= history.stage3.date.getHours() + ":" + history.stage3.date.getMinutes() + ":" + history.stage3.date.getSeconds() + ":" + history.stage3.date.getMilliseconds() %> stage3</td>
                        <% }else if(history.stage2.outTime.date!=undefined){ %>
                            <td><%= history.stage2.outTime.date.getHours() + ":" + history.stage2.outTime.date.getMinutes() + ":" + history.stage2.outTime.date.getSeconds() + ":" + history.stage2.outTime.date.getMilliseconds() %> stage2-out</td>
                        <% }else if(history.stage2.inTime.date!=undefined){ %>
                            <td><%= history.stage2.inTime.date.getHours() + ":" + history.stage2.inTime.date.getMinutes() + ":" + history.stage2.inTime.date.getSeconds() + ":" + history.stage2.inTime.date.getMilliseconds() %> stage2-in</td>
                        <% }else{ %>
                            <td>Register and leave</td>
                        <% } %>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
</section>



<%- include ('../partials/footer') %>
